import os
_basedir = os.path.abspath(os.path.dirname(__file__))

#use 'dev', 'test', or 'production'
DATABASE_TYPE = 'dev'

DEBUG = False

SECRET_KEY = "Your secret key"

if DATABASE_TYPE == 'test' or DATABASE_TYPE == 'dev':
    # SQLALCHEMY_DATABASE_URI = 'sqlite://flatterme.db'
    if not os.path.exists(os.path.join(_basedir, 'db'):
        os.mkdir(os.path.join(_basedir, 'db')
    SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(_basedir, 'db/tbkexch.db')
elif DATABASE_TYPE == 'production':
    #Add mysql URI
    SQLALCHEMY_DATABASE_URI = 'driver://user:pass@host/dbname'
else:
    raise NameError('The value used for DATABASE_TYPE is not an accepted value.')
DATABASE_CONNECT_OPTIONS = {}

CSRF_ENABLED = True
CSRF_SESSION_KEY="Your csrf key"

SQLALCHEMY_MIGRATE_REPO = os.path.join(_basedir, 'migrations')
