{% extends 'base.html' %}

{% block content %}
<div class="hero-unit">
<h2>
Welcome to Textbook Exchange!<br><br>
</h2>
<h3>
Use this site to coordinate with other students locally to buy/sell textbooks! 
<br>
<br>
This site is still in its beta stages, so please email any suggestions to deanjohnson222@gmail.com!<br><br>
</h3>
<br>
<iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/textbookxchange"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>
</div>
{% endblock %}
