{% extends 'base.html' %}

{% block title %}
    <title>Listings for {{lister.username}}</title>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h2>Books being sold by {{lister.username}}:</h2>
    </br></br>
    <table class="table table-striped span2">
        <tr>
            <th>Title</th>
            <th>Course</th>
            <th>Notes</th>
            <th>Cost</th>
        </tr>
        {% for book in books %}
        <tr style="border-radius:10px">
            <td>{{book.book.title}}</td>
            <td>{{book.course}}</td>
            <td>{{book.notes}}</td>
            <td>${{book.cost}}</td>
        </tr>
        {% endfor %}
    </table>
    </br></br>
{% endblock %}
</div>
