{% extends 'base.html' %}
{% block content %}
<html>
    <head>
    </head>
    <font size="16">Add Compliment {% if name %}for {{name}} {% endif %}</font>
    </br></br>
    <form name="add" method="POST">
        Compliment: {{form.compliment}}</br>
	{% if not url %}
	    Gender: {{form.gender}}</br>
	{% endif %}
    </br>
    <input type="submit"></input>
    </form>
    {% if url %}
    <form action="/compliment/{{url}}" method="GET">
        <input type="submit" value="View Compliment Page"></input>
    </form>
    {% endif %}
    {% if msg %}
        {{msg}}
    {% endif %}
</html>
{% endblock %}
