<html>
    <head>
        {% block title %}
            <title>Flatterer</title>
        {% endblock %}
        {%block css%}
            <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.css') }}" />
        {%endblock%}

        {%block javascripts%}
            <script type="text/javascript" src="{{url_for('static',filename='js/jquery.min.js') }}"></script>
        {%endblock%}
        {%block scripts%}
    
        {% endblock %}
    </head>
    <body class="container">
        <div id="header">
            {%block header%}
            {%endblock%}
        </div>

        <div id="content" class="hero-unit">
            {%block content%}
            {%endblock%}
        </div>

        <div id="footer">
            {%block footer%}
            {%endblock%}
        </div>
    </body>
</html>
