{% extends 'base.html' %}
    {% block title %}
        <title>{{name}}, you are awesome!</title>
    {% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(window).load(function(){
        {% for compliment in compliments %}
                alert("{{name}}, {{compliment.compliment | safe}}");
        {% endfor %}
    });
</script>
{% endblock %}

{% block content %}
    <body class="container">
    <div class="hero-unit">

    <h1>
    <font class="box_textshadow" color="white" value="{{name}}, you are awesome!">{{name}}, you are awesome!</font>
    </h1>
    </div>
    </body>
{% endblock %}
