{% extends 'base.html' %}
    {% block title %}
        <title>{{name}}, you are awesome!</title>
    {% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(window).load(function(){
        var compliments = [{% for compliment in compliments %}"{{compliment.compliment | safe }}",
        {% endfor %}];
                for (var i = 0; i < compliments.length; i++) {
                    if ( confirm("{{name}}, "+compliments[i]) ) {}
                    else { break; }
                }
    });
</script>
{% endblock %}

{% block content %}
    <body class="container" background="http://khongthe.com/wallpapers/nature/a-beautiful-scene-243788.jpg">
    <div class="hero-unit">
    <h1>
        <font class="box_textshadow" color="white" value="{{name}}, you are awesome!">{{name}}, you are awesome!</font>
    </h1>
    </div>
    </body>
{% endblock %}
