{% extends 'base.html' %}

{% block content %}
<h2>
Welcome to flattermeplease.com!</br></br>
The original inspiration behind this site was to give compliments to people who may be feeling down, and hopefully improve their day! 
Use the navigation bar to become familiar with the site and have a wonderful day! :)
</br>
</br>
<div align="center">
    <a href="/get_info">
        <button class="btn btn-primary btn-large">Flatter Me!</button>
    </a>
</div>
</br>
If you have any compliment ideas, click <a href="/add_compliment">here</a> to submit them!</br>
</h2>
</br>
<iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/flattermeplease"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>

{% endblock %}
