{% extends 'base.html' %}

{% block title %}
    <title>Complimentees</title>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <font size=16>Complimentees</font>
    </br></br>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Add/Edit Theme</th>
            <th>Add Compliment</th>
        </tr>
        {% for complimentee in complimentees %}
        <tr>
                <td> <a href="/compliment/{{complimentee.url}}">{{complimentee.name}}</a></td>
            {% if complimentee.theme %}
                <form action="{{complimentee.url}}/edit_theme" method="GET">
                    <td> <input type="submit" value="Edit Theme"> </input> </td>
                </form>
            {% else %}
                <form action="{{complimentee.url}}/add_theme" method="GET">
                    <td> <input type="submit" value="Add Theme"> </input> </td>
                </form>
            {% endif %}
            <form action="{{complimentee.url}}/add_compliment" method="GET">
                <td> <input type="submit" value="Add Compliment"> </td>
            </form>
        </tr>
        {% endfor %}
    </table>
    </br></br>
{% endblock %}
</div>
