{% extends 'base.html' %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block content %}
    <form method="POST">
        Name: {{form.name}}</br>
        Username: {{form.username}}</br>
        Password: {{form.password}}</br>
        Confirm Password: {{form.confirm_pass}}</br>
        {% if user.admin %}
            Permissions: {{form.admin}}</br>
        {% endif %}
        <input type="submit" value="Add User"></input></br>
    </form>
    {% if message %}
        {{message}}
    {% endif %}

{% endblock %}
