{% include "base.html" %}

{% block title %}
    <title>Relay for Life Time Signups</title>
{% endblock %}

{% block content %}
<div class="hero-unit">
<form name="remove" method="POST">

    {% for times in timeslot %}
        <h2>{{times.time}}</h2>
        <form method="POST">
            <table class="table">
            <tr>
                <th>Name</th>
                <th>House</th>
            </tr>
            {% for user in times.users %}
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.house}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>{{times.form.name}}</td>
                <td>{{times.form.house}}</td>
            </tr>
            </table>
        <input type="submit" name="{{times.time}}" value="Signup!"></input>
        </form>



    {% endfor %}

    <table class="table">
        <tr>
            <th>Checkbox</th>
        </tr>
        <tr>
            <td> <input name="checkbox" type="checkbox" value="1"></input> </td>
        </tr>
    </table>
    </br></br>

    <input type="submit" value="Remove Selected"></input>
</form>
{% endblock %}
</div>
